@font-face {
    font-family: 'Kohinoor Bangala';
    src: url('../fonts/KohinoorBangla-Regular.woff2');
}
@font-face {
    font-family: 'Kohinoor Bangala';
    src: url('../fonts/KohinoorBangla-Medium.woff2');
    font-weight: bold;
}

@font-face {
    font-family: 'Kohinoor Bangala';
    src: url('../fonts/KohinoorBangla-Bold.woff2');
    font-weight: bolder;
}